
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Local environment configuration
.env
.DS_Store
playwright-report/
test-results/
.env.local